{% extends 'base.html.twig' %}

{% block title %}Sorcier index{% endblock %}

{% block body %}
    <h1>Sorcier index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Type</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sorcier in sorciers %}
            <tr>
                <td>{{ sorcier.id }}</td>
                <td>{{ sorcier.nom }}</td>
                <td>{{ sorcier.prenom }}</td>
                <td>{{ sorcier.discr }}</td>
                <td>
                    <a href="{{ path('app_sorcier_show', {'id': sorcier.id}) }}">show</a>
                    <a href="{{ path('app_sorcier_edit', {'id': sorcier.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_sorcier_new') }}">Create new</a>
{% endblock %}
